<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-show="game.current.state === game.states.created"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="appContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark" style="background-color: {{ player.name }}; background-image: none;">
            <h1 class="title">{{ player.name }}</h1>
        </ion-header-bar>

        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <div class="section" ng-show="game.current.state === game.states.created">
                    <ion-item class="item-divider">Actions</ion-item>
                    <ion-item menu-close="" ng-show="game.current.state !== game.states.playing" ng-click="createGame()">Create Game</ion-item>
                    <ion-item menu-close="" ng-show="game.name !== 'Lobby'" ng-click="startGame()">Start Game</ion-item>
                </div>
                <div class="section">
                    <ion-item class="item-divider">Games</ion-item>
                    <ion-item ng-repeat="gameItem in gamelist"
                        ng-click="joinGame(gameItem.id)"
                        ng-class="{ 'self' : game.id == gameItem.id }">
                        {{ gameItem.name }}
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    
    <ion-side-menu side="right">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Player List</h1>
        </ion-header-bar>

        <ion-content padding="false" class="side-menu-right has-header">
            <ion-list>
                <div class="section" ng-hide="game.current.state == game.states.completed">
                    <ion-item class="item-divider">Playing</ion-item>

                    <!-- Unstarted Game -->
                    <ion-item class="item-button-right" ng-show="game.current.state === game.states.created" 
                        ng-repeat="playerItem in game.players"
                        ng-click="sendVote(playerItem.id)"
                        ng-class="{ 'self' : playerItem.id == player.id }">
                        {{ playerItem.name }}
                    </ion-item>

                    <!-- Started Game -->
                    <ion-item class="item-button-right row player-item" ng-show="game.current.state === game.states.playing" 
                        ng-repeat="playerItem in game.current.players"
                        ng-class="{ 'self' : playerItem.id == player.id, 'voted' : playerItem.id == vote }">
                        <div class="col-80 player">{{ playerItem.name }}</div>
                        <div class="col-10 action add" ng-click="addVote(playerItem.id)">+</div>
                        <div class="col-10 action remove" ng-click="removeVote(playerItem.id)">-</div>
                    </ion-item>
                </div>


                <div class="section" ng-show="game.losers.length > 0">
                    <ion-item class="item-divider">Losers</ion-item>
                    <ion-item ng-repeat="loser in game.losers"
                        ng-class="{ 'self' : loser.id == loser.id }">
                        <div class="player">{{ loser.name }}</div>
                    </ion-item>
                </div>

                <div class="section" ng-show="game.winners.length > 0">
                    <ion-item class="item-divider">Winners</ion-item>
                    <ion-item ng-repeat="winner in game.winners"
                        ng-class="{ 'self' : winner.id == winner.id }">
                        <div class="player">{{ winner.name }}</div>
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>