<ion-view title="{{ game.name }}">
    <ion-content delegate-handle="chatScroll" padding="false">
        <ion-list class="messages" id="conversation">
            <ion-item class="item-divider">Public Chat</ion-item>
            <ion-item ng-repeat="message in game.messages">
                <div class="player">{{ message.sender.name }}</div>
                <div class="message">{{ message.content }}</div>
            </ion-item>
        </ion-list>
    </ion-content>

    <form class="actions" ng-submit="sendChat()">
        <ion-footer-bar class="bar-stable item-input-inset message-footer bar bar-footer" keyboard-attach="">
            <label class="item-input-wrapper">
                <textarea ng-model="message.content" ng-enter="sendChat()" value="" placeholder="Send a message..." required="" minlength="1" maxlength="1500" class="ng-valid-minlength ng-valid-maxlength ng-dirty ng-touched ng-invalid ng-invalid-required" style="overflow: hidden; word-wrap: break-word; resize: none; width: 100%;"></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!message.content || message.content === ''" disabled="disabled">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>