.actions .message-footer {
	max-height: 80px;
	min-height: 40px;
	height: 40px;
	background: none;
	border-top: 1px solid #ddd;
}

.actions * {
	padding: 0;
    height: 100%;
	background: none !important;
}

.actions textarea {
	padding: 15px;
}

.section .player-item {
	padding: 15px;
}

.section .player-item .player {
	width: 70%;
}

.section .player-item .action {
	text-align: center;
	width: 15%;
}