html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.panel {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 350px;
}

.panel-info {
    float: left;
    width: 35%;
    padding: 10px;
    border-right: 1px solid black;
    overflow-y: scroll;
    height: 100%;
}

.panel-info .section {
    width: 100%;
    margin-bottom: 20px;
}

.panel-info .section h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.panel-info .section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.panel-info .section ul li.self {
    font-weight: bold;
}

.panel-info .section ul li.voted {
    background: #FD6666;
}

.panel-info .section ul li {
    padding: 8px 12px;
    background: #EEE;
    margin-bottom: 1px;
}

.panel-info .section ul li:hover {
    background: #DDD;
    cursor: pointer;
}

.panel-chat {
    float: left;
    width: 65%;
    padding: 10px;
    height: 100%;
    padding-bottom: 0;
}

.panel-chat ul.messages {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    list-style: none;
}

.panel-chat ul.messages li {
    background: #EEE;
    margin-bottom: 1px;
    float: left;
    clear: both;
    width: 100%;
}

.panel-chat ul.messages li .player {
    float: left;
    border-right: 1px solid transparent;
    width: 15%;
    padding: 8px;
    font-weight: bold;
    word-wrap: break-word;
}

.panel-chat ul.messages li .message {
    float: left;
    width: 85%;
    padding: 6px 12px;
}

.panel-chat .actions {
    height: 10%;
    padding-top: 5px;
}

.panel-chat .actions input.chat {
    width: 80%;
    float: left;
    height: 100%;
}

.panel-chat .actions input.send {
    width: 20%;
    float: left;
    height: 100%;
}
